.photo__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    align-items: center;
    justify-items:center;
    gap:10px;
    padding: 1%;
}

.photos__item{
    max-width: 100%;
}

@media screen and (max-width: 768px) { 
    .photo__grid{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 5px;
        padding: 1%;
    }
    .photos__item{
        max-width: max-content;
        padding: 2%;
    }
  
}
@media screen and (max-width: 520px) {  
    .photo__grid{
        box-sizing: border-box;
        margin:auto;
        display: flex;
        flex-direction: column;

    }

}
@media screen and (max-width: 320px) {  
    .photo__grid{
        display: flex; 
        align-items: center;
        justify-items:center ;
        box-sizing: border-box;
        padding: 2%;
        max-width: 100vh;
        object-fit: fill;
    }
    .photos__item{
        object-fit: fill;
        max-width: 80%;
    }
    

}

