.photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    align-items: center;
    justify-items:center;
    gap:10px;
    padding: 1%;
}

.photos__grid-item{
    max-width: 100%;
}

@media screen and (max-width: 768px) { 
    .photos{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 5px;
        padding: 1%;
    }
    .photos__grid-item{
        max-width: max-content;
        padding: 2%;
    }
  
}
@media screen and (max-width: 520px) {  
    .photos__grid-item{
        box-sizing: border-box;
        margin:auto;
        display: flex;
        flex-direction: column;

    }

}
@media screen and (max-width: 480px) {  
    .photos{
        display: flex; 
        flex-direction: column;
        box-sizing: border-box;
        padding: 2%;
    }
@media screen and (max-width: 320px) {  
    .photos{
        display: flex; 
        flex-direction: column;
        box-sizing: border-box;
        padding: 2%;
    }
    .photos__grid-item{
        object-fit: fill;
        max-width: 80%;
    }
    

}

}